<div id="confirmDeleteModal_${deleteId}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-text-center">
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body modal-text-center">
                <p class="fs-5">Are you sure you want to delete this ${deleteMessage}?</p>
                <p class="fs-5 text-center">${deleteName}</p>
            </div>
            <div class="modal-footer modal-text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="<c:url value='${deleteUri}${deleteId}'/>" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
