<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal fade" id="membersModal" tabindex="-1" role="dialog" aria-labelledby="membersModalLabel" aria-hidden="true" style="white-space: pre-line">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="margin: 0 auto;">
        <h4 class="modal-projectName"></h4>
      </div>
      <div class="modal-body">
        <span class="fs-5 fw-bold text-center">Leader:</span>
        <p class="modal-projectLeader"></p>
        <span class="fs-5 fw-bold text-center">Members:</span>
        <p class="modal-projectMembers"></p>
      </div>
      <div class="modal-footer" style="margin: 0 auto;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>