<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-text-center">
                <h4 class="modal-projectName"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <span class="fs-5 fw-bold">Description:</span>
                        <p class="modal-projectDescription"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="fs-5 fw-bold">Members:</span>
                        <p class="modal-projectMembers"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="fs-5 fw-bold">Start Date:</span>
                        <p class="modal-projectStartDate"></p>
                    </div>
                    <div class="col">
                        <span class="fs-5 fw-bold">End Date:</span>
                        <p class="modal-projectEndDate"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
