<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="margin: 0 auto;">
        <h4 class="modal-projectName"></h4>
      </div>
      <div class="modal-body">
        <span class="fs-5 fw-bold">Description:</span>
        <p class="modal-projectDescription"></p>
        <span class="fs-5 fw-bold">Members:</span>
        <p class="modal-projectMembers"></p>
      </div>
      <div class="modal-footer" style="margin: 0 auto;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
