<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-text-center">
                <h4 class="modal-userFullName"></h4>
            </div>
            <div class="modal-body">
                <span class="fs-5 fw-bold">E-mail:</span>
                <p class="modal-userEmail"></p>
                <span class="fs-5 fw-bold">Phone:</span>
                <p class="modal-userPhone"></p>
            </div>
            <div class="modal-footer modal-text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
